$main-color: blue;
.header_nav {
    background-color: $main-color ;
    .header_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 75em;
        
        .logo {
            width: 8em; 
            height: auto; 
        }
        
        .header_main_nav > li {
            color: #fff;
            margin: 0.25em 1.25em;
            font-size: 1em;
            position: relative;
            &:hover {
                color:rgb(255, 234, 0);

            }
            &:hover .dropdown_menu {
                display: block;
                color: black;

            }
           
            &::after {
                content: '';
                position: absolute;
                bottom: -0.5em;
                height: 0.25em;
                width: 100%;
                left: 0;
                background-color: rgb(255, 234, 0);
                transition: 0.3s;
                transition-timing-function: ease-in-out;
                transform: scaleX(0);
            }
            &:hover::after {
                transform: scaleX(1);
            }
            &:hover .sub_menu {
                display: block;
            }
            .sub_menu {
                display: none;
                background: #fff;
                position: absolute;
                top: 130%;
                width: 15em;
                z-index: 100;
                box-shadow: 3px 5px 5px #aaaaaa;
                border-radius: 0.25em;
                a {
                    display: flex;
                    padding: 1em;
                    border-bottom: 1px solid rgba(170, 170, 170, 0.5);                    
                    i {
                        color: hsla(0, 0%, 0%, 0.85);
                    }
                
                    &:hover p {
                        transform: translateX(5px);
                        transition: transform 0.5s;
                        font-weight: 600;
                        
                    }
                    p {
                        margin-left: 10px;
                        color:hsla(0,0%,40%,.85);
                        font-size: 0.9em;
                        margin-bottom: 0 !important;
                    }
                
                }

            }

        
        }

       .button_nav {
            .button_search {
                border: 2px solid orange;
                
                >i {
                    color: #fff;
                }
                
            }
            .button_test {
                background-color: rgb(18, 207, 31);
                color: #fff;
            }
       }

    }
}